body {
	font-family: sans-serif;
	/*padding-top: 54px;*/
	/*background-image: url("http://media.istockphoto.com/photos/manila-envelope-old-brown-recycled-envelope-texture-picture-id482423330?k=6&m=482423330&s=170667a&w=0&h=ZL7yKM_A0uygSDgNZIAjE7afXSp4oiZ3NG_w3_R26V4=");*/
	background-color: rgb(38,43,49);
}
.navbar{
	background-image: url("../images/shaki_toastie2.jpg");
	background-size: cover;
	background-position:center;
	height: 500px;
}
#navbar{
	font-size: 200%;
	background-color: teal;
	/*margin-top: 10%;*/
}
#main-navbar a{
	font-weight: bolder;
	color: pink;
}
#homeLink{
	font-size: 200%;
	color: black;
	font-weight: bolder;
}
#logoNav{
	max-height: 10%;
	max-width: 10%;
	border: 1px solid red;
}
#sections{
	padding-left: 0;
	padding-right: 0;
}
section{
	margin-bottom: 50px;
	/*height: 500px;*/
}
/*#home{
	border: 2px solid purple;
	background-image: url("../images/shaki_toastie2.jpg");
	background-size: cover;
	background-position:center;
	height: 500px;
}*/
#menu{
	/*background-image: url("../images/toasties_menu_screenshot.jpg");
	background-size: cover;
	background-position: center;*/
	height: 1000px;
	background-color: rgb(38,43,49);
	color: teal;
}
#menu h3{
	font-weight: bold;
	color: pink;
}
#menu h2{
	color: white;
}
#menuSection1,
#menuSection2{
	float: left;
	margin-left: 6%;
	text-align: center;
}
#menuToasties,
#menuFries,
#menuMeals,
#menuSnacks,
#menuDrinks{
	border: 1px solid white;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}
#cateringEvents{
	/*background-image: url("http://media.istockphoto.com/photos/manila-envelope-old-brown-recycled-envelope-texture-picture-id482423330?k=6&m=482423330&s=170667a&w=0&h=ZL7yKM_A0uygSDgNZIAjE7afXSp4oiZ3NG_w3_R26V4=");*/
	background-color: rgb(38,43,49);
	text-align: center;
}
hr{
	width: 15%;
	margin-top: 50px;
}
#cateringEventsText{
	padding-top: 50px;
	padding-bottom: 20px;
	line-height: 30px;
	width: 70%;
	height: auto;
	margin: 0 auto;
	color: white;
	font-weight: bold;
}
#contactImg{
	width: 90%;
	margin: 5%;
	height: auto;
	float: right;
}
#contact h1{
	color: white;
	text-align: center;
}
#contactText1{
	color: pink;
	font-size: 150%;
	text-align: center;
}
#contactText2{
	color: teal;
	font-size: 150%;
	text-align: center;
}
#map{
	margin: 5%;
}
.footer {
	/*bottom: 0;*/
	width: 100%;
	/*Set the fixed height of the footer here */
	height: 50px;
	background-color: rgb(38,43,49);
	color: white;
	text-align: center;
}
.fa-phone,
.fa-envelope-o,
#instagram{
	float: left;
	margin-right: 15px;
}
.footerVR{
	width: 3px;
	height: 90%;
	margin-top: 5%;
	float: left;
	background-color: white;
}
footer i,
footer p,
#footerEmail,
#footerTel,
#footerTelContact,
#socialMedia{
	float: left;
	margin-top: 7px;
}
footer li {
  display: inline-block;
  list-style: none;
}
.footerItems{
	margin: 0 auto;
}
.footerItems.tele {
	width: 128px;
}
.footerItems.email {
	width: 203px;
}
.footerItems.social{
	width: ;
}

@media (max-width: 767px) {
	#home {
		height: 300px;
	}
}
@media (max-width: 